# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://jttcilwzcwrxzgtiopdy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp0dGNpbHd6Y3dyeHpndGlvcGR5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3NjI4MjksImV4cCI6MjA4OTMzODgyOX0.9oj2dQjcIR7diPcqumw2i8zLJJxJs5qGXMyhC4APSvg
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp0dGNpbHd6Y3dyeHpndGlvcGR5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mzc2MjgyOSwiZXhwIjoyMDg5MzM4ODI5fQ.6lscc7zA0zAFU5Cg0tk1y7A_0xA2BOiJ62-ffTfdOdI

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
